@model WebApplication1.Models.SANPHAM

@{
    ViewBag.Title = "XoaSP";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN SẢN PHẨM CẦN XÓA</h2>

<h3>Bạn có chắc chắn xóa sản phẩm này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Giaban) đồng
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/Images/" + Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            Số lượng tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Mã NSX:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHang)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-facebook" /> |
            @Html.ActionLink("TRỞ VỀ", "SanPham")
        </div>
    }
</div>